.App {
    margin: 2%;
}

.mainView {
    font-size: xx-large;
    margin-right: 65%;
}

.menu-Bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-Bar a {
    margin-right: 2%;
}

.nav {
    flex-direction: row;
    justify-content: flex-end;
}
